/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'mixins';

:root {
  --body-color-background: white;
}

body {
  width: 100%;
  overflow-x: hidden;
}

html,
body,
oami-root,
oami-root main {
  display: block;
  background: var(--body-color-background);
}
